h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  background-color: rgb(63, 66, 68);
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: white;
}

.form-row{
  color: white;
}

.error {
  color: red;
  font-size: 13px;
  margin: 4px 0 0 80px;
}